<%= form_with(model: partida, local: true) do |form| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% partida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game %>
    <%
      a = []
      Jogo.all.each do |u|
        a.push([u.nome, u.id])
      end
    %>

    <%= select :partida, :game, options_for_select(a) %>
  </div>

  <div class="field">
    <%= form.label :player1 %>
    <input id="partida_player1" value=<%=current_user%> readonly="readonly"/>
  </div>

  <div class="field">
    <%= form.label :player2 %>
    <%
      a = []
      User.all.each do |u|
        a.push([u.username,u]) if u != current_user
      end
    %>
    <%= select :partida, :player2, options_for_select(a) %>
    <!--
    <%= form.text_field :player2, id: :partida_player2 %>
    -->
    </div>

  <div class="field">
    <%= form.label :winP1 %>
    <%= form.number_field :winP1, id: :partida_winP1 %>
  </div>

  <div class="field">
    <%= form.label :winP2 %>
    <%= form.number_field :winP2, id: :partida_winP2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
