<%= form_with(model: partida, local: true) do |form| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% partida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player1_id %>
    <%= form.number_field :player1_id, id: :partida_player1_id %>
  </div>

  <div class="field">
    <%= form.label :player2_id %>
    <%= form.number_field :player2_id, id: :partida_player2_id %>
  </div>

  <div class="field">
    <%= form.label :winP1 %>
    <%= form.number_field :winP1, id: :partida_winP1 %>
  </div>

  <div class="field">
    <%= form.label :winP2 %>
    <%= form.number_field :winP2, id: :partida_winP2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
