<p id="notice"><%= notice %></p>

<h1>Partidas</h1>

<table>
  <thead>
    <tr>
      <th>Player1</th>
      <th>Player2</th>
      <th>VitóriasP1</th>
      <th>VitóriasP2</th>
      <th>Jogo</th>
    </tr>
  </thead>

  <tbody>
    <% @partidas.each do |partida| %>
      <tr>
        <% p1 = User.find(partida.player1_id) %>
        <td><%= p1.username %></td>
        <% p2 = User.find(partida.player2_id) %>
        <td><%= p2.username %></td>
        <td><%= partida.winP1 %></td>
        <td><%= partida.winP2 %></td>
        <td><%= Jogo.find(partida.game).nome %> </td>
        <td><%= link_to 'Mostrar', partida %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_partida_path(partida) %></td>
          <td><%= link_to 'Destruir', partida, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Partida', new_partida_path %>
