<p id="notice"><%= notice %></p>

<h1>Partidas</h1>

<table>
  <thead>
    <tr>
      <th>Player1_id</th>
      <th>Player2_id</th>
      <th>Winp1</th>
      <th>Winp2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partidas.each do |partida| %>
      <tr>
        <td><%= partida.player1_id %></td>
        <td><%= partida.player2_id %></td>
        <td><%= partida.winP1 %></td>
        <td><%= partida.winP2 %></td>
        <td><%= link_to 'Show', partida %></td>
        <td><%= link_to 'Edit', edit_partida_path(partida) %></td>
        <td><%= link_to 'Destroy', partida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partida', new_partida_path %>
