<p id="notice"><%= notice %></p>

<p>
  <strong>Player1_id:</strong>
  <%= @partida.player1_id %>
</p>

<p>
<strong>Player2_id:</strong>
  <%= @partida.player2_id %>
</p>

<p>
  <strong>Winp1:</strong>
  <%= @partida.winP1 %>
</p>

<p>
  <strong>Winp2:</strong>
  <%= @partida.winP2 %>
</p>

<%= link_to 'Edit', edit_partida_path(@partida) %> |
<%= link_to 'Back', partidas_path %>
