<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= Jogo.find(@partida.game) %>
</p>

<p>
  <strong>Player1:</strong>
  <% p1 = User.find(@partida.player1_id) %>
  <%= p1.username %>
</p>

<p>
<strong>Player2:</strong>
  <% p2 = User.find(@partida.player2_id) %>
  <%= p2.username %>
</p>

<p>
  <strong>Winp1:</strong>
  <%= @partida.winP1 %>
</p>

<p>
  <strong>Winp2:</strong>
  <%= @partida.winP2 %>
</p>

<%= link_to 'Edit', edit_partida_path(@partida) %> |
<%= link_to 'Back', partidas_path %>
