<h3>Partidas de <%= Jogo.find(@jogo_id)%></h3>

<table>
  <thead>
    <tr>
      <th>Player1</th>
      <th>Player2</th>
      <th>Winp1</th>
      <th>Winp2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partidas.each do |partida| %>
      <tr>
        <% p1 = User.find(partida.player1_id) %>
        <td><%= p1.username %></td>
        <% p2 = User.find(partida.player2_id) %>
        <td><%= p2.username %></td>
        <td><%= partida.winP1 %></td>
        <td><%= partida.winP2 %></td>
        <td><%= link_to 'Show', partida %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_partida_path(partida) %></td>
        <td><%= link_to 'Destroy', partida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

