
<h1><%= @user %></h1>
<br>

<table>
    <thead>
        <tr>
            <th>Jogo</th>
            <th>ELO</th>
        </tr>
    </thead>

    <tbody>
        <% for j in Jogo.all %>
        <tr>
            <td><%=j %></td>
            <td><%= @user.elo(j.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<h2>Mains</h2>
<table>
    <thead>
        <tr>
            <th>Jogo</th>
            <th>Main</th>
        </tr>
    </thead>

    <tbody>
        <% for m in @user.mains %>
        <tr>
            <td><%= Jogo.where("id = #{m.jogo_id}")[0] %></td>
            <td><%= m %></td>
        </tr>
        <% end %>
    </tbody>
</table>

