<table>
    <thead>
        <tr>
            <th>Jogo</th>
            <th>ELO</th>
        </tr>
    </thead>

    <tbody>
        <% for j in Jogo.all %>
        <tr>
            <td><%=j %></td>
            <td><%= current_user.elo(j.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<h2>Mains</h2>
<div >
    <% for jogo in @jogos %>
            <% mains = @mains.where("jogo_id = ?", jogo.id) %>
            <% if mains.size > 0%>
                <table>
                    <thead>
                        <th><%= jogo.nome%></th>    
                    </thead>
                    <tbody>
                        <% for personagem in mains %>
                            <tr>
                                <td><%= personagem.nome %></td>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            <%end%>
        <br>
    <% end %>
</div>


<br>
<%= link_to "Adicionar Mains", mains_path %>

