<p>
	<%= link_to "Partidas", partidas_path %>
</p>
<p>
	<%= link_to "Mains", mains_path %>
</p>
<p>
	<%= link_to "Histórico", historico_user_path %>
</p>
<p>
	<%= link_to "Jogos", listar_jogos_path %>
</p>
<p>
	<%= link_to "Usuarios", listar_usuarios_path %>
</p>
