<table>
    <thead>
        <tr>
            <th>Personagem</th>
            <th>Jogo</th>
        </tr>
    </thead>
    <tbody>
        <% for p in current_user.mains %>
        <tr>
            <td><%= p %></td>
            <td><%= Jogo.where("id=#{p.jogo_id}")[0] %></td>
            <td><%= link_to "Deletar", delete_main_path(:id => p.id), method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<h2>Novo Main</h2>
<%= form_for :add_main do |f| %>
    <select id = "jogo_main" onchange = "obterCharJogo()" style="display: inline-block;">
        <% @jogos.each do |j| %>
        <option value = <%= j.id %> > <%=j.nome %> </option>
        <% end %>
    </select>
    <div id='chars' style="display: inline-block;"> </div>
    <%= submit_tag "Adicionar Main" %>
<% end %>

<script>
    obterCharJogo()
    function obterCharJogo() {
        var idJogo =  document.getElementById("jogo_main");
        var str = "<select name='char_id'>";
        var id = idJogo.options[idJogo.selectedIndex].value;
        switch (id) {
            <% for j in Jogo.all %>
                <% i=j.id %>
                    case "<%= i %>":
                    <% chars = Personagem.where("jogo_id = #{i}") %>
                    <% for c in chars %>
                    str += "<option value=<%= c.id %>><%= c.nome %></option>"
                    <% end %>
                    str += "</select>";
                break;
                <% end %>
        }
        document.getElementById("chars").innerHTML = str; 
    }

</script>
