<!DOCTYPE html>
<html>
    <head>
        <title>Ladder</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

    <body{font-family:Verdana, Arial, Helvetica, sans-serif;}>
	<img src="/logo.png">
	<div id="menucase">
	  
	</div>
        <p style = "color:#B30000; font-weight:bold;" class="notice"><%= notice %></p>
        <p style = "color:#B30000; font-weight:bold;" class="alert"><%= alert %></p>

        <% if user_signed_in? %>
	    <div id="divstyle">
        		<p> Olá <%=current_user.username %></p>
	    </div>
            <%= link_to "Sair",destroy_user_session_path, :method => :delete %>
            <br>
            <%= link_to 'Menu Inicial', root_path %>
            <br>
            <br>
        <% else %>
	    <div id="divstyle">
	            <%= link_to "Entrar",new_user_session_path %>
	    </div>
        <% end %>
        <div class="left-sidebar">
            <h3>Ranking</h3>
            <% @jogos = Jogo.all%>
            <select name="jogo" id="jogo" onchange="printRanks()">            

                <% @jogos.each do |u| %>
                <option value= <%=u.id%> > <%= u.nome%> </option>
                <% end %>

            </select>
            <p id="teste"></p>
        </div>
        <%= yield %>
    </body>
</html>
<script type="text/javascript">
    var aux = document.getElementById("jogo");
printRanks();
function printRanks() {
    var str="";
    switch (aux.options[aux.selectedIndex].value) {
        <% (1..Jogo.all.size).each {|i| %>
                case "<%= i %>":
            str = "<% @users = User.all.sort_by {|x| -x.elo(i)} %>"
            str += "<% @users.each do |u| %><p> <%= u.username%> <%=u.elo(i)%> </p><% end %>"
            break;
            <% } %>
    }
    document.getElementById("teste").innerHTML =  str;
}
</script>
