<!DOCTYPE html>
<html>
  <head>
    <title>Ladder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
        <p> Olá <%=current_user.username %></p>
        <%= link_to "Sair",destroy_user_session_path, :method => :delete %>
    <% end %>
    <div class="left-sidebar">
        <h3>Ranking</h3>
        <select name="jogo" id="jogo" onchange="printRanks()">
            <option value="PM">Project M</option>
            <option value="Melee">Melee</option>
            <option value="Undernight">Undernight</option>
        </select>
        <p id="teste"></p>


        <!-- <h4>PM</h4>
        <% @users = User.all.sort_by {|x| -x.elo_pm} %>
        <% @users.each do |u| %>
            <p> <%= u.username%> <%=u.elo_pm%> </p>
        <% end %>
        <h4>Milho</h4>
        <% @users = User.all.sort_by {|x| -x.elo_melee} %>
        <% @users.each do |u| %>
            <p> <%= u.username%> <%=u.elo_melee%> </p>
        <% end %>
        <h4>UN</h4>
        <% @users = User.all.sort_by {|x| -x.elo_undernight} %>
        <% @users.each do |u| %>
            <p> <%= u.username%> <%=u.elo_undernight%> </p>
        <% end %> -->
    </div>
    <%= yield %>
  </body>
</html>
<script type="text/javascript">
	var aux = document.getElementById("jogo");
	printRanks();
	function printRanks() {
		var str="";
		switch (aux.options[aux.selectedIndex].value) {
			case "PM":
				str = "<% @users = User.all.sort_by {|x| -x.elo_pm} %>"
				str += "<% @users.each do |u| %><p> <%= u.username%> <%=u.elo_pm%> </p><% end %>"
				break;
			case "Melee":
				str = "<% @users = User.all.sort_by {|x| -x.elo_melee} %>"
				str += "<% @users.each do |u| %><p> <%= u.username%> <%=u.elo_melee%> </p><% end %>"
				break;
			case "Undernight":
				str = "<% @users = User.all.sort_by {|x| -x.elo_undernight} %>"
				str += "<% @users.each do |u| %><p> <%= u.username%> <%=u.elo_undernight%> </p><% end %>"
				break;
		}
		document.getElementById("teste").innerHTML =  str;
	}

	
	
	
</script>